# Ignore runtime data folders
/webAssist/data/
/data/
/webassist-shared/data/
/webAssist/package.json
/webAssist/package-lock.json
/webAssist/node_modules/

/webAdmin/data/
/webAdmin/package.json
/webAdmin/package-lock.json
/webAdmin/node_modules/
.idea
# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS specific
.DS_Store
Thumbs.db
